<html>
<head>
<meta content="text/html" charset="UTF-8" />
</head>
<body style="color: #2F6A79">
<div>
<img src="http://www.mypeoplenet.com/Images/PeopleNet-logo.png"/><h2 style="text-align: left;color: #2F6A79;margin: 2px;padding : 2px;">Selenium SmokeTests Reports Total No : ${count}</h2>
</div>
<div>
<table style="border: 1px solid black;border-collapse: collapse; width: 800px;">
<thead style="background-color: #00B4E9;color: #ffffff;border: 1px solid black;border-collapse: collapse;">
  <tr>
     <th style="border: 1px solid black;border-collapse: collapse;padding: 5px;">Project</th>
     <th style="border: 1px solid black;border-collapse: collapse;padding: 5px;">Passed</th>
     <th style="border: 1px solid black;border-collapse: collapse;padding: 5px;">Failed</th>
     <th style="border: 1px solid black;border-collapse: collapse;padding: 5px;">Skipped</th>
  </tr>
</thead>
<tbody>
${mailBody}
</tbody>
</table>
<p>Regards,</p>
<p>Q&C Team.</p>
</div>
</body>
</html>